/* ~~~~~~~~~~~~~GENERAL STYLES~~~~~~~~~~~~~ */
html {
	width: 100%;	
	height: 100%;
	margin: 0;
}

head {
	
	width: 100%;
	height: 100%;

}

body {
	/* background-color:#ccfff5; */
	overflow:hidden;
	width: 100%;
	height: 100%;
}

p {
	color: #004f3f;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}

label {
	color: #004f3f;
	font-size: 14px;
	margin-top: 10px;
}


snapshot {

  position:absolute;

  top:0;bottom:0;right:0;

  width:50%;

}

/* For Attribute Selector */

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
form {
	color: #004f3f;
}

/* ~~~~~~~~~~~~~ID BASED STYLES~~~~~~~~~~~~~ */

#input_fields {
	width: 30%;
	float: left;
	height: 100%;
	background-color:#ccfff5; 

}

#map {
	width: 70%;
	height: 100%;
	/* float: right; */
	/* background-color: #666; */

}

#s_attribute_selection {
	width: 90%;
	border: 1px solid #004f3f;
	padding: 2%;
	
}

#c_attribute_selection {
	width: 90%;
	border: 1px solid #004f3f;
	padding: 2%;
	
}

#title {
	color: #004f3f;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
}

#t_select_Attribute {
	font-size: 12px;
}

#tf_attribute {
	width: 100%;
}




