.legend, .temporal-legend {
    width: 250px;
    padding-left: 50px;
		padding: 0px 10px;
    margin-left: 0px;
 		font: 14px/16px Arial, Helvetica, sans-serif;
		background: white;
 		background: rgba(255,255,255,1);
 		box-shadow: 0 0 15px rgba(0,0,0,0.2);
 		border-radius: 5px;
}
#legendTitle {
	  text-align: center;
 	 	margin-bottom: 15px;
 		font-variant: small-caps;
}
.symbolsContainer {
  	float: left;
	   margin-left: 100px;
}
.legendCircle {
   	border-radius:50%;
   	border: 1px solid #537898;
   	background: rgba(113, 133, 152, .3);
 	  display: inline-block;
}
.legendValue {
  		position: absolute;
  		right: 0px;
}

.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,1); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; }
.info h4 { margin: 0 0 5px; color: #777; }
.legend i { width: 10px; height: 10px; float: left; margin-right: 0px; opacity: 0.7; }
